body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rowLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  background: teal;
  color: white;
}

.rowLayout img {
  width: 40px;
  height: 40px;
}

.navs a {
  padding: 10px;
}
